<form
  [formGroup]="vehicleForm"
  (ngSubmit)="onSave()"
  class="flex flex-column gap-1"
>
  <div class="field grid">
    <label for="Id" class="col-2">Id</label>
    <div class="col-10 p-fluid">
      <input id="Id" pInputText type="text" formControlName="Id" />
    </div>
  </div>
  <div class="field grid">
    <label for="RegistrationPlate" class="col-2">RegistrationPlate</label>
    <div class="col-10 p-fluid">
      <input
        id="RegistrationPlate"
        pInputText
        type="text"
        formControlName="RegistrationPlate"
      />
    </div>
  </div>
  <div class="field grid">
    <label class="col-2">Brand</label>
    <div class="col-10 p-fluid">
      <p-chips inputId="Brand" formControlName="Brand" />
    </div>
  </div>
  <div class="field grid">
    <label class="col-2">Model</label>
    <div class="col-10 p-fluid">
      <input id="Model" pInputText type="text" formControlName="Model" />
    </div>
  </div>
  <div class="field grid">
    <label class="col-2">RegistrationDate</label>
    <div class="col-10 p-fluid">
      <p-calendar
        id="RegistrationDate"
        dateFormat="yy-mm-dd"
        formControlName="RegistrationDate"
      />
    </div>
  </div>
  <div class="field grid">
    <label class="col-2">Mileage</label>
    <div class="col-10 p-fluid">
      <p-inputNumber id="Mileage" formControlName="Mileage" />
    </div>
  </div>
  <div class="field grid">
    <label class="col-2">IsInsured</label>
    <div class="col-10 p-fluid">
      <p-checkbox
        inputId="IsInsured"
        [binary]="true"
        formControlName="IsInsured"
      />
    </div>
  </div>
  <div class="field grid">
    <label class="col-2">OwnerMail</label>
    <div class="col-10 p-fluid">
      <input
        id="OwnerMail"
        pInputText
        type="email"
        formControlName="OwnerMail"
      />
    </div>
  </div>
  <div class="flex justify-content-end">
    <p-button type="submit" [disabled]="vehicleForm.status !== 'VALID'"
      ><i class="pi pi-save" style="font-size: 1.5rem"></i>Speichern</p-button
    >
  </div>
</form>

<p-toast />
